<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.ssafy.board.model.dao.UserDao">
	<select id="selectOne" parameterType="Map" resultType="User">
		SELECT *
		FROM users
		WHERE id = #{id} AND password = #{password}
	</select>
	
	<insert id="insertUser" parameterType="User">
		INSERT INTO users
		VALUES (#{id}, #{password}, #{nickname}, #{name}, #{email}, #{profileImage})
	</insert>
	
	<select id="selectAll" resultType="User">
		SELECT *
		FROM users
	</select>
	
	<select id="selectUserByIdToken" parameterType="String" resultType="User">
		SELECT *
		FROM users
		WHERE id = #{id}
	</select>
	
	<select id="selectUserByEmail" parameterType="String" resultType="User">
		SELECT *
		FROM users
		WHERE email = #{email}
	</select>
	
	<update id="updateUser" parameterType="User">
		UPDATE users 
		SET nickname = #{nickname}, profile_image = COALESCE(#{profileImage}, 'first.jpg')
		WHERE id = #{id}; 
	</update>
	
	<delete id="deleteUser" parameterType="String">
		DELETE FROM users
		WHERE id = #{userId};
	</delete>
	
	<select id="searchUser" resultType="User" parameterType="User">
		SELECT id, nickname, profile_image
		FROM users
		WHERE ${key} LIKE concat('%', #{word}, '%');
	</select>
</mapper>